img {
  position: relative;
  top: 30px;
  left: 900px;
}

h3 {
  position: relative;
  top: -200px;
  left: 50px;
}

li {
  position: relative;
  top: -235px;
  left: 30px;
}

.Langkah {
  position: relative;
  top: 100px;
}

.Pembuatan {
  position: relative;
  top: 120px;
}
